#portfolio {
    margin-top: 90px;
    background: #000E00;
}

.portfolio {
    padding: 50px 0px;

    //@media (max-width: 1024px) {
    //    padding: 50px 30px;
    //}
    //
    //@media (max-width: 768px) {
    //    padding: 50px 20px;
    //}

    &-slide {
        @media (max-width: 1024px) {
            height: 250px !important;
        }
    }

    &__button {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            padding: 14px 24px 12px;
            border: 1px solid #00860D;
            border-radius: 8px;
            font-size: 20px;
            line-height: 140%;
            text-transform: uppercase;
            background: linear-gradient(135deg, #00860D 0%, #00C142 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            transition: all 0.15s ease;

            &:hover {
                color: #ffffff;
                background: linear-gradient(135deg, #00C142 0%, #00860D 100%);
                text-fill-color: unset;
                background-clip: unset;
                -webkit-text-fill-color: unset;
                -webkit-background-clip: unset;
            }
        }
    }
}

.portfolioSwiper {
    margin-top: 40px;
    overflow: hidden;

    @media (max-width: 480px) {
        padding: 0 40px;
    }

    &__container {
        padding: 0 50px;
        @media (max-width: 1024px) {
            padding: 0 30px;
        }

        @media (max-width: 768px) {
            padding: 0 20px;
        }

        @media (max-width: 480px) {
            padding: 0 0;
        }
    }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    margin-top: 30px;
}

.swiper-pagination {
    position: relative;
}


